/*
    ShortCode/details
*/

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    margin-inline-start: calc((var(--card-padding)) * -1);
    padding-inline-start: calc(var(--card-padding) - var(--heading-border-size) + 10px);
    border-inline-start: var(--heading-border-size)solid var(--accent-color);
}

.summary {
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.summary::before {
    content: "";
    position: absolute;
    left: -13px;
    transition: transform 0.1s ease-in-out;
    width: 16px;
    height: 16px;
    background-image: url('/images/arrow.png');
    background-size: contain;
}

.summary.rotated::before {
    transform: rotate(90deg);
}

.summary.dark-mode::before {
    filter: invert(1);
}